.container-columns {
}
.container-row {
  height: 100%;
}
.container-page {
  height: 70vh;
}
.sidebar, .main {
  padding: 10px;
  height: 100%;
}
.nav-bar-style {
  margin-bottom: 30px !important;
}
.no-transition {
  -webkit-transition: height 0.5s !important;
  -moz-transition: height 0.5s !important;
  -ms-transition: height 0.5s !important;
  -o-transition: height 0.5s !important;
  transition: height 0.5s !important;
}
.small-header {
  padding-top: 20px;
  padding-bottom: 15px;
}
.features-list {
  padding-bottom: 30px;
}
.nav-item {
  cursor: pointer;
}
