.container-columns {
}
.container-row {
  height: 100%;
}
.container-page {
  height: 70vh;
}
.sidebar, .main {
  padding: 10px;
  height: 100%;
}
.nav-bar-style {
  margin-bottom: 30px !important;
}
.no-transition {
  -webkit-transition: height 0.5s !important;
  -moz-transition: height 0.5s !important;
  -ms-transition: height 0.5s !important;
  -o-transition: height 0.5s !important;
  transition: height 0.5s !important;
}
#loader {
      width: 100%;
      height: 100%;
      background-color: white;
      margin: 0;
      position: fixed;
      z-index: 10 !important;
}
.small-header {
  padding-top: 20px;
  padding-bottom: 15px;
}
.features-list {
  padding-bottom: 30px;
}
.nav-item {
  cursor: pointer;
}
#problemsDiv {
  padding-bottom: 20px;
}
.problemTitle {
  display: inline-block;
}
.problemColor {
  display: inline-block;
  height: 17px;
  width: 17px;
  margin: 1px;
  margin-bottom: -2px;
  border-radius: 4px;
  margin-left: 5px;
}
.problemLikes {
  display: inline-block;
  margin: 1px;
  margin-bottom: -2px;
  margin-left: 3px;
}
.problemComments {
  padding-top: 10px;
}
.commentImg {
  border-radius: 10px;
}
.problemLikes {
  padding-top: 5px;
}
.commentWrapper {
  padding-top: 10px;
}
.commentBtn {
  margin-left: 7px;
  cursor: pointer;
  display: inline-block;
}
